# Copia este archivo a secret.env y reemplaza los valores
DB_POSTGRESDB_HOST=supabase-instance.supabase.co
DB_POSTGRESDB_USER=replace-me
DB_POSTGRESDB_PASSWORD=replace-me
N8N_ENCRYPTION_KEY=replace-me
N8N_BASIC_AUTH_ACTIVE=true
N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=replace-me
N8N_API_KEY=replace-me
